<div class="card-div" flex=33>
    <mat-card class="slide-1">
        <mat-card-title class="topicTitle">{{ this.selectedTopic.topicTitle }}</mat-card-title>
        <br>
        <mat-card-content>
            <div *ngFor="let row of selectedTopic.topicSummary">
                {{ row }}
            </div>
        </mat-card-content>
        <mat-card-title class="slideTitle">{{ selectedTopic.topicSlides[index].slideTitle }}</mat-card-title>
    </mat-card>
    <mat-card class="slide" *ngFor="let card of selectedTopic.topicSlides[index].slideCards">

        <mat-card-subtitle>{{ card.cardTitle }}</mat-card-subtitle>
        <img mat-card-image [src]="getImagePath(card)">
    
        <mat-card-content>
            <div *ngFor="let row of card.cardDetails">
                {{ row }}
            </div>

        </mat-card-content>
    </mat-card>

    <mat-card class="slide">
        <mat-card-actions>
            <button mat-button (click)="previous()">PREVIOUS</button>
            <button mat-button (click)="next()">NEXT</button>
        </mat-card-actions>
    </mat-card>
</div>