.slide-1.mat-card {
    margin-top: 2%;
    margin-right: 25%;
    margin-left: 10%;
    padding-left: 15%;
    padding-top: 5%;
}

.slide-1.mat-card-subtitle{
    padding-top: 10px;
}

.slide.mat-card {
    margin-top: 2%;
    margin-right: 25%;
    margin-left: 10%;
    padding-left: 15%;
}

.slideTitle.mat-card-title{
    font-size: medium;
}

.topicTitle.mat-card-title{
    color:blue;
}
