<mat-toolbar class="toolbar" color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>SharpNotes</span>
  <div *ngFor="let menuItem of getMenuItems()">
    <a *ngIf="!(isHandset$ | async)" class="tool-link" href="#">{{ menuItem.name }}</a>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [fixedTopGap]="40" [fixedInViewport]=true [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">


    <mat-accordion>
      <mat-nav-list *ngIf="(isHandset$ | async)">
        <a mat-list-item href="#" (click)="drawer.toggle()">
          Home
        </a>
      </mat-nav-list>
      <div *ngFor="let menu of getMenuItems()">
        <mat-expansion-panel 
        *ngIf="(menu.submenu && !menu.isHeaderMenu) || (menu.isHeaderMenu && (isHandset$ | async)); else headerLabel" 
        class="mat-elevation-z0" [expanded]="(isHandset$ | async) === false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ menu.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <div *ngFor="let menuItem of menu.submenu">
              <mat-expansion-panel *ngIf="menuItem.submenu; else menuLabel" 
              class="mat-elevation-z0" [expanded]="(isHandset$ | async) === false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ menuItem.name }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                  <a *ngFor="let menuSubItem of menuItem.submenu" mat-list-item href="#">
                    {{ menuSubItem.name }}</a>
                </mat-nav-list>
              </mat-expansion-panel>
              <ng-template #menuLabel>
                <mat-nav-list>
                  <a mat-list-item href="#">
                    {{ menuItem.name }}</a>
                </mat-nav-list>
              </ng-template>
            </div>
          </mat-nav-list>
        </mat-expansion-panel>
        <ng-template #headerLabel>
          <mat-nav-list *ngIf="(isHandset$ | async) && menu.isHeaderMenu">
            <a mat-list-item href="#">
              {{ menu.name }}</a>
          </mat-nav-list>
        </ng-template>
      </div>
    </mat-accordion>
    

  </mat-sidenav>
  <mat-sidenav-content>
    <app-details></app-details>
  </mat-sidenav-content>
</mat-sidenav-container>