.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav.mat-toolbar {
  margin-left: 0px;
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.tool-link {
  display: inline-block;
  margin-left: 20px;
  color : white;
  text-decoration: none;
}

.toolbar {
  height: 40px;  
  position: absolute;
}





