<div class="card-div" flex=33>
    <mat-card class="slide-1">
        <mat-card-title class="topicTitle">Subject</mat-card-title>
        <mat-card-content>
            <mat-list>
                <div mat-subheader>{{ this.json.sectionTitle }}</div>

                <mat-list-item *ngFor="let topic of this.json.topicList">
                    <a href="#">
                        {{ topic.topicTitle }}
                    </a>
                </mat-list-item>

            </mat-list>
        </mat-card-content>
    </mat-card>
</div>